In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
pd.read_csv("klemetso2021.csv")

,Vuosi,Kk,Pv,Klo,Aikavyöhyke,Kuukauden sadesumma (mm),Kuukauden keskilämpötila (degC)
0,2021,1,1,00:00,UTC,51.2,-5.0
1,2021,2,1,00:00,UTC,36.3,-7.3
2,2021,3,1,00:00,UTC,21.6,-0.5
3,2021,4,1,00:00,UTC,32.4,3.2
4,2021,5,1,00:00,UTC,65.6,8.0
5,2021,6,1,00:00,UTC,36.3,16.7
6,2021,7,1,00:00,UTC,45.9,19.7
7,2021,8,1,00:00,UTC,85.8,14.9
8,2021,9,1,00:00,UTC,61.3,9.3
9,2021,10,1,00:00,UTC,89.0,7.3

In [14]:
vs = pd.read_csv("valsorarna.csv")
vs.head()

,Vuosi,Kk,Pv,Klo,Aikavyöhyke,Pilvien määrä (1/8),Ilmanpaine (msl) (hPa),Sademäärä (mm),Suhteellinen kosteus (%),Sateen intensiteetti (mm/h),Lumensyvyys (cm),Ilman lämpötila (degC),Kastepistelämpötila (degC),Näkyvyys (m),Tuulen suunta (deg),Puuskanopeus (m/s),Tuulen nopeus (m/s)
0,2021,1,1,00:00,UTC,NaN,1009.7,NaN,93.0,NaN,NaN,2.3,1.4,NaN,68.0,4.2,2.9
1,2021,1,1,00:10,UTC,NaN,1009.7,NaN,93.0,NaN,NaN,2.3,1.3,NaN,54.0,4.8,3.9
2,2021,1,1,00:20,UTC,NaN,1009.7,NaN,92.0,NaN,NaN,2.3,1.2,NaN,52.0,4.7,3.6
3,2021,1,1,00:30,UTC,NaN,1009.8,NaN,91.0,NaN,NaN,2.4,1.0,NaN,58.0,5.2,3.5
4,2021,1,1,00:40,UTC,NaN,1009.8,NaN,91.0,NaN,NaN,2.3,1.0,NaN,50.0,5.7,4.3

In [16]:
vs["Ilman lämpötila (degC)"]

0        2.3
1        2.3
2        2.3
3        2.4
4        2.3
        ...
12092    0.9
12093    1.1
12094    1.0
12095    0.8
12096    0.8
Name: Ilman lämpötila (degC), Length: 12097, dtype: float64